@import 'tailwindcss';
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/hero-bg.png");
}

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #030014;
    color:  white ;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-screen h-screen bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

 .all-movies {
  @apply space-y-2;

  & ul {
    @apply grid grid-cols-1 
           sm:grid-cols-2 
           md:grid-cols-3 
           lg:grid-cols-4 
           xl:grid-cols-6 
           2xl:grid-cols-8 
           [@media(min-width:2000px)]:grid-cols-10; /* for very large screens */
    @apply gap-5;
  }
}


  .movie-card {
    @apply bg-dark-100 p-2 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }
}

.description-page{
 @apply min-h-screen bg-cover bg-center relative 
}

  .movie-details { @apply flex flex-col md:flex-row gap-6 mt-6; }
  .poster { @apply shrink-0 w-full md:w-1/3; }
  .description { @apply flex-1 text-gray-200 space-y-3; }
  .description .details { @apply flex flex-wrap gap-4 text-gray-400; }
  .trailer{
    @apply w-full flex flex-col md:flex-row gap-4
  }
  .watch-btn {
    @apply bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-6 mx-7 rounded-lg shadow-lg transition-all duration-300 ease-in-out;
  }

  .watch-btn:active {
    @apply scale-95;
  }

.scrollbar-hide::-webkit-scrollbar{
display: none
}
.title-border{
  @apply bg-black text-white shadow-2xl p-1 text-center
}
.genre-border{
  @apply bg-green-400 text-white shadow-2xl p-1
}

.date-border{
  @apply bg-red-400 text-white shadow-2xl p-1
}
.movie-spacing{
 @apply flex justify-between text-white text-sm;
}
.left-arrow{
  @apply absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-black/50 hover:bg-black/80 p-2 rounded-full text-white
}
.right-arrow{
  @apply absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-black/50 hover:bg-black/80 p-2 rounded-full text-white
}


.responsive-carousel{
  @apply flex-[0_0_50%]
  sm:flex-[0_0_33.33%]
  md:flex-[0_0_20%]
  lg:flex-[0_0_16.66%]
}
@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;

  @supports (scrollbar-width: none) {
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}